<query-builder [formControl]='queryCtrl' [config]='config' 
            [allowRuleset]='allowRuleset' [allowCollapse]='allowCollapse' 
            [DataTypeBuilder]="dataTypeBuilder"
            [DataTypeParent]="dataTypeParent"
            [DataTypeChildren]="dataTypeChildren"
            [persistValueOnFieldChange]='persistValueOnFieldChange'
            (valueOnFieldChange)="changeDataType($event)">
          </query-builder>

          
            
  {{ query | json }}  
<router-outlet></router-outlet>